<ul>
	<li>@Html.ActionLink("Manage Websites", "Manage", "WebSite")</li>
	<li>@Html.ActionLink("Manage Galleries", "Manage", "Gallery")</li>
	<li>@Html.ActionLink("Manage Models", "Manage", "Model")</li>
</ul>