@model PornCantina.Models.WebSite

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WebSite</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">ReferralLink</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReferralLink)
    </div>

    <div class="display-label">WebmasterContentPage</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebmasterContentPage)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
